.like-button {
    margin-left: 20px; /* Adjust this value to move like button to the right */
    display: flex;
    align-items: center;
}
.like-button .bi-heart-fill {
    margin-right: 5px; /* Space between the icon and text */
    color: red;
    font-size: 24px;
    position: relative;
    top: -2px;
}

.like-button .bi-heart {
    margin-right: 5px; /* Space between the icon and text */
    color: red;
    font-size: 24px;
    position: relative;
    top: -2px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    border-radius: 50%; /* Circular arrows */
}
.carousel-control-prev,
.carousel-control-next {
    filter: opacity(0.5); /* Make arrows less visible */
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.3); /* Lighter grey background */
}
.carousel-control-prev:hover,
.carousel-control-next:hover {
    filter: opacity(0.9); /* Increase visibility on hover */
}
.photo-container {
    position: relative;
    padding-top: 90%; /* Aspect ratio 1:1 */
}
.photo-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 95%;
    object-fit: cover;
}
.modal-content {
    border-radius: 0; /* Optional: removes rounded corners for a card-like appearance */
}
    /* Custom styles for tags and like button */
.tags {
    margin-left: 20px; /* Adjust this value to move tags to the right */
    position: relative;
    top: -10px;
}
